/*@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,800&display=swap");*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Varela&display=swap");

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: white;
  font-family: Alegreya;
}

element.style {
  background-image: url(https://baw.agency/wp-content/themes/kutak-child/assets/images/welcome/welcome-version-4.png);
}
.xs-banner.agency-banner4 {
  margin: 0px;
  padding: 0px;
  height: 900px;

  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

/*.trial {
  height: 700px;
  width: 1335px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}*/

.navbar {
  display: flex;
  position: absolute;
  top: 20px;
  left: 700px;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  float: left;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(15, 239, 255);
  color: black;
}

.header {
  margin: 0px;
  color: orange;
  position: absolute;
  top: 5px;
  left: 100px;
  font-size: 4rem;
}
.byline {
  color: rgb(252, 152, 38);
  position: absolute;
  top: 60px;
  left: 85px;
  font-size: 1.3rem;
}

.icon {
  width: 157px;
  height: 150px;
  position: absolute;
  top: 330px;
  left: 620px;
}

p.intropara {
  color: goldenrod;
  position: absolute;
  top: 150px;
  left: 400px;
  font-size: 1.5rem;
  text-align: center;
}
.quote {
  font-size: 2rem;
  position: absolute;
  top: 950px;
  text-align: center;
}

.disclaimer {
  font-size: 3.5rem;
  margin: 10px;
  color: rgb(0, 0, 0);
}
.anouncements {
  font-size: 20px;
  margin: 25px 10px 0px;
  color: rgb(0, 0, 0);
}
